.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
*.o
*.log
src/math
src/test
src/test.trs
stamp-h1
test-driver
jmath-*.tar.gz
